* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: red;
    color: white;
    text-transform: uppercase;
}

.spanHtml {
    font-weight: bold;
}

footer form * {
    display: block;
}

input[type=text] {
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}

input[type=submit] {
    background-color: green;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: solid black 5px;
    cursor: pointer;
}