* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

body {
    background-image: url(../img/sueloMadera.jpg);
}



.tablero {
    margin: auto;
    margin-top: 5%;
    background-color: aquamarine;
    width: 85%;
    height: 80%;
    border-top-left-radius: 20% 50%; 
    border-top-right-radius: 20% 50%; 
    border-bottom-left-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;
    border: solid black 10px;
    background-image: url(../img/tela.webp);
}