/* -------------------Reservados---------------------- */
html {
    background-color: rgb(245, 219, 187);
    /* background-image: url(img/fondo.jpg);   */
    background-size: cover;
    height: 100%;
}

body {
    border: solid 2px black;
    padding: 5px;
    margin: 20px 5% 0px 5%;
}

.imgFondo {
    /* position: relative; */
    padding: 20px; /* Agrega un espacio alrededor del contenido dentro del div */
}

.imgFondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/fondo.jpg');
    background-size: cover;
    filter: blur(0px); /* Aplicar un desenfoque a la imagen de fondo */
    opacity: 0.5; /* Ajustar la opacidad según tu preferencia */
    z-index: -1; /* Colocar detrás del contenido */
}

header {
    border: solid 2px green;
    padding: 5px;
    text-align: center;
}

nav {
    border: solid 2px greenyellow;
    padding: 5px;
}

aside {
    border: solid 2px gray;
    padding: 5px;
}

main {
    display: flex;
    border: solid 2px blue;
    padding: 5px;
    background-color: rgb(202, 132, 74);
}

section {
    border: solid 2px blueviolet;
    padding: 0px 15px 0px 15px;
}

footer {
    border: solid 2px burlywood;
    padding: 5px;
}

/* -------------------semi_genérico---------------------- */

h6 {
    margin: 0;
}
/* -------------------clases---------------------- */

.formulario {
    border: solid 2px orange;
    padding: 5px;
}


.contenidoGeneral {
    border: solid 2px blueviolet;
    padding: 5px;
    display: flex;
}

.fotosMuestra {
    border: solid 2px blue;
    padding: 5px;
}

.parrafoSeleccion, .parrafoMuestra {
    text-align: center;
}

.imgSeleccion, .imgMuestra {
    max-width: 200px;
}