html {
    background-color: black;
}

.divCompleto {
    height: 100vh;
}

.imgLadrillo {
    position:absolute;
    height: 100vh;
    background-size: cover;
    background: no-repeat;
    background-position: center;
    width: 100%;
}

.divCompleto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* Usa el mismo fondo que .imgLadrillo */
    filter: blur(10px); /* Ajusta el valor de blur según desees */
    z-index: -1;
}

/* .bombilla {
    position:absolute;
    z-index: 1;
    width: 25%;
    text-align: center;
    top: 25%;
    left: 25%;
    border-radius: 50%;
} */

/*   
.bombilla {
    position: absolute;
    z-index: 1;
    width: 50%;
    top: 25%;
    left: 25%;
}

.bombilla::before,
.bombilla::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    filter: blur(10px); 
    z-index: -1;
}

.bombilla::before {
    background: rgba(0, 0, 0, 0.2); 
}

.bombilla::after {
    background: transparent;
} */
