main {
    width: 30%;
    border: solid black 1px;
    padding: 0;
    margin: 0 auto;
}

h1, .registro {
    margin: 0;
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
}


/* --------------clases------------ */

.registro {
    background-color: rgb(116, 197, 143);
}


