
* {
    padding: 0;
    margin: 0;
}

:root {
    --color-primario: #3498db;
}
  
.ejemplo {
color: var(--color-primario);
}

@font-face {
    font-family: caca;
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}
html, a {
    font-family: caca;
    color: white;
    -webkit-text-stroke: 0.5px red;
    font-size: 30px;
}

body {
    padding: 2%;
    background-image: url(../img/fondo/calabazaFondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
}

nav {
    position: sticky;
    top: 10px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    border: solid red 1px;
    margin-bottom: 3%;
    margin: 5px;
    z-index: 5;
}

h1 {
    text-align: center;
    -webkit-text-stroke: 2px red;
    margin-bottom: 2%;
}

h2 {
    text-align: center;
}

aside {
    position: fixed;
    /* top: 40%; */
    z-index: 2;
    align-items: start;
}

a {
    text-decoration: none;
}

main {
    margin-left: 25%;
}

main h2 {
    margin-bottom: 2%;
}

h6 {
    height: 50px;
    border: solid red 1px;
    overflow: auto;
}

.top {
    /* background-color: rgba(0, 0, 0, 0.736); */
    background-color: black;
    top: 0;
    /* left: 40%; */
    z-index: 2;
    width: 100%;
    padding: 1%;
}

.principal {
    display: flex;
    margin-top: 9%;
}

.principal > :first-child {
    padding: 0 2% 0 2%;
    /* border: solid red 1px; */
}

.principal > :last-child {
    padding: 0 2% 0 2%;
    width: 50%;
    /* border: solid red 1px; */
}

.menuEventos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuEventos a {
    padding: 5px;
}

.imagenesMain img:hover,
.menuEventos a:hover,
nav a:hover{
    box-shadow: 0 0 20px red;
}

.imagenesMain {
    opacity: 0.8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    /* align-items: center; */
}

#inicio {
    margin-left: 5%;
}

.botonSubir {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonSubir .calabaza {
    background-image: url(../img/calabazaBuena.png);
    position: fixed;
    top: 80%;
    left: 6%;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.botonSubir .calabaza:hover {
    transition: 3s ease;
    background-image: url(../img/calabazaMala.png);
}

.table {
    margin-top: 10%;
    border: solid red 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.linea1 {
    display: flex;
    justify-content: center;
}

.linea1 :first-child {
    width: 30%;
}

.linea1 :last-child {
    width: 50%;
}

.padre {
    height: 200px;
    background-color: antiquewhite;
}

.hijo1,
.hijo2,
.hijo3 {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border: solid black 1px;
    border-radius: 15px;
}

.hijo2 {
    position: relative;
    left: 40px;
    top: 30px
}

@media (max-width: 1300px) {
    .imagenesMain {
        grid-template-columns: repeat(2, 1fr);
    }
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
        transform-origin: center;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: center;
    }
}

@keyframes flecha {
    0% {
        transform: translateY(-10px);
        transform-origin: center;
    }
    100% {
        transform: translateY(-50px);
        transform-origin: center;
    }
}

.calabaza {
    animation: flecha 1s linear infinite;
}

.imagenesMain img {
    animation: girar 20s linear infinite;
    border-radius: 20px;
}

/*
:nth-child(odd) selecciona todos los elementos impares.
:nth-child(even) selecciona todos los elementos pares.
:nth-child(3n+1) selecciona cada tercer elemento, comenzando desde el primer elemento.
:nth-child(4n) selecciona cada cuarto elemento.
*/
/* 
body {
dd
} */
