* {
    margin: 0;
    padding: 0;
}
.parrafo1 {
    color: black;
    text-decoration: line-through;
    font-weight: bold;
}

.parrafo2 {
    color: rgb(74, 140, 194);
    color: #ca2929;
    text-decoration: underline;
    font-style: italic;
    margin: 1px 2px 3px 4px;
}

p {
    color: green;
}

main {
    background-color: rgb(207, 121, 121);
}
div {
    border: solid black 2px;
    /* margin: 100px; */
    /* padding: 100px; */
}

h1 {
    text-transform: uppercase;
}